## Preprocessing

In [90]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
original_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df = original_df.copy()
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [91]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"])

In [92]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [93]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [94]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts = application_type_counts[application_type_counts < 500].index.tolist()
application_types_to_replace = application_type_counts

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [95]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [96]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts = classification_counts[classification_counts > 1] 
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [97]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts = classification_counts[classification_counts < 100].index.tolist()   
classifications_to_replace = classification_counts

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [98]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 
                                                        'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 
                                                        'SPECIAL_CONSIDERATIONS', 'INCOME_AMT'], drop_first=True)

application_df = application_df.astype(int)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [100]:
print(application_df.dtypes)

STATUS                       int32
ASK_AMT                      int32
IS_SUCCESSFUL                int32
APPLICATION_TYPE_T10         int32
APPLICATION_TYPE_T19         int32
APPLICATION_TYPE_T3          int32
APPLICATION_TYPE_T4          int32
APPLICATION_TYPE_T5          int32
APPLICATION_TYPE_T6          int32
APPLICATION_TYPE_T7          int32
APPLICATION_TYPE_T8          int32
AFFILIATION_Family/Parent    int32
AFFILIATION_Independent      int32
AFFILIATION_National         int32
AFFILIATION_Other            int32
AFFILIATION_Regional         int32
CLASSIFICATION_C1200         int32
CLASSIFICATION_C1270         int32
CLASSIFICATION_C1700         int32
CLASSIFICATION_C2000         int32
CLASSIFICATION_C2100         int32
CLASSIFICATION_C2700         int32
CLASSIFICATION_C3000         int32
CLASSIFICATION_C4000         int32
CLASSIFICATION_C5000         int32
CLASSIFICATION_C7000         int32
CLASSIFICATION_Other         int32
USE_CASE_Heathcare           int32
USE_CASE_Other               int32
USE_CASE_Preservation        int32
USE_CASE_ProductDev          int32
ORGANIZATION_Co-operative    int32
ORGANIZATION_Corporation     int32
ORGANIZATION_Trust           int32
SPECIAL_CONSIDERATIONS_Y     int32
INCOME_AMT_1-9999            int32
INCOME_AMT_10000-24999       int32
INCOME_AMT_100000-499999     int32
INCOME_AMT_10M-50M           int32
INCOME_AMT_1M-5M             int32
INCOME_AMT_25000-99999       int32
INCOME_AMT_50M+              int32
INCOME_AMT_5M-10M            int32
dtype: object

In [101]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns=['IS_SUCCESSFUL']).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [102]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [103]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               5504

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 13,825
Trainable params: 13,825
Non-trainable params: 0
_________________________________________________________________

In [104]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [105]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
644/644 [==============================] - 4s 4ms/step - loss: 0.5735 - accuracy: 0.7184 - val_loss: 0.5752 - val_accuracy: 0.7164
Epoch 2/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5531 - accuracy: 0.7316 - val_loss: 0.5671 - val_accuracy: 0.7195
Epoch 3/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5496 - accuracy: 0.7325 - val_loss: 0.5641 - val_accuracy: 0.7258
Epoch 4/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5485 - accuracy: 0.7329 - val_loss: 0.5638 - val_accuracy: 0.7232
Epoch 5/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5464 - accuracy: 0.7352 - val_loss: 0.5597 - val_accuracy: 0.7228
Epoch 6/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5455 - accuracy: 0.7353 - val_loss: 0.5603 - val_accuracy: 0.7254
Epoch 7/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5443 - accuracy: 0.7345 - val_loss: 0.5625 - val_accuracy: 0.7248
Epoch 8/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5439 - accuracy: 0.7354 - val_loss: 0.5615 - val_accuracy: 0.7221
Epoch 9/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5427 - accuracy: 0.7364 - val_loss: 0.5583 - val_accuracy: 0.7267
Epoch 10/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5428 - accuracy: 0.7351 - val_loss: 0.5575 - val_accuracy: 0.7258
Epoch 11/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5421 - accuracy: 0.7367 - val_loss: 0.5605 - val_accuracy: 0.7242
Epoch 12/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7359 - val_loss: 0.5573 - val_accuracy: 0.7254
Epoch 13/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5420 - accuracy: 0.7377 - val_loss: 0.5581 - val_accuracy: 0.7236
Epoch 14/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5403 - accuracy: 0.7364 - val_loss: 0.5624 - val_accuracy: 0.7226
Epoch 15/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5409 - accuracy: 0.7381 - val_loss: 0.5584 - val_accuracy: 0.7230
Epoch 16/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5399 - accuracy: 0.7383 - val_loss: 0.5595 - val_accuracy: 0.7230
Epoch 17/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5395 - accuracy: 0.7385 - val_loss: 0.5589 - val_accuracy: 0.7223
Epoch 18/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5391 - accuracy: 0.7392 - val_loss: 0.5615 - val_accuracy: 0.7230
Epoch 19/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5389 - accuracy: 0.7389 - val_loss: 0.5617 - val_accuracy: 0.7195
Epoch 20/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5391 - accuracy: 0.7386 - val_loss: 0.5595 - val_accuracy: 0.7213
Epoch 21/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5382 - accuracy: 0.7387 - val_loss: 0.5617 - val_accuracy: 0.7238
Epoch 22/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5378 - accuracy: 0.7398 - val_loss: 0.5598 - val_accuracy: 0.7240
Epoch 23/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5380 - accuracy: 0.7400 - val_loss: 0.5572 - val_accuracy: 0.7256
Epoch 24/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5377 - accuracy: 0.7405 - val_loss: 0.5568 - val_accuracy: 0.7259
Epoch 25/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5370 - accuracy: 0.7403 - val_loss: 0.5590 - val_accuracy: 0.7234
Epoch 26/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5366 - accuracy: 0.7406 - val_loss: 0.5578 - val_accuracy: 0.7258
Epoch 27/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7412 - val_loss: 0.5617 - val_accuracy: 0.7254
Epoch 28/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5365 - accuracy: 0.7421 - val_loss: 0.5591 - val_accuracy: 0.7265
Epoch 29/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7414 - val_loss: 0.5602 - val_accuracy: 0.7246
Epoch 30/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5360 - accuracy: 0.7408 - val_loss: 0.5582 - val_accuracy: 0.7246
Epoch 31/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5358 - accuracy: 0.7405 - val_loss: 0.5596 - val_accuracy: 0.7230
Epoch 32/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5352 - accuracy: 0.7408 - val_loss: 0.5580 - val_accuracy: 0.7258
Epoch 33/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5353 - accuracy: 0.7410 - val_loss: 0.5601 - val_accuracy: 0.7254
Epoch 34/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5355 - accuracy: 0.7404 - val_loss: 0.5562 - val_accuracy: 0.7275
Epoch 35/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5347 - accuracy: 0.7420 - val_loss: 0.5587 - val_accuracy: 0.7242
Epoch 36/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5350 - accuracy: 0.7411 - val_loss: 0.5609 - val_accuracy: 0.7259
Epoch 37/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5342 - accuracy: 0.7418 - val_loss: 0.5590 - val_accuracy: 0.7263
Epoch 38/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5349 - accuracy: 0.7415 - val_loss: 0.5591 - val_accuracy: 0.7254
Epoch 39/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5344 - accuracy: 0.7420 - val_loss: 0.5575 - val_accuracy: 0.7273
Epoch 40/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5336 - accuracy: 0.7421 - val_loss: 0.5605 - val_accuracy: 0.7238
Epoch 41/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5339 - accuracy: 0.7413 - val_loss: 0.5603 - val_accuracy: 0.7240
Epoch 42/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5330 - accuracy: 0.7415 - val_loss: 0.5618 - val_accuracy: 0.7258
Epoch 43/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5334 - accuracy: 0.7427 - val_loss: 0.5585 - val_accuracy: 0.7211
Epoch 44/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5332 - accuracy: 0.7414 - val_loss: 0.5592 - val_accuracy: 0.7252
Epoch 45/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5329 - accuracy: 0.7429 - val_loss: 0.5584 - val_accuracy: 0.7265
Epoch 46/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5330 - accuracy: 0.7428 - val_loss: 0.5621 - val_accuracy: 0.7242
Epoch 47/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5321 - accuracy: 0.7434 - val_loss: 0.5617 - val_accuracy: 0.7224
Epoch 48/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5329 - accuracy: 0.7432 - val_loss: 0.5625 - val_accuracy: 0.7244
Epoch 49/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5322 - accuracy: 0.7430 - val_loss: 0.5605 - val_accuracy: 0.7234
Epoch 50/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5323 - accuracy: 0.7439 - val_loss: 0.5591 - val_accuracy: 0.7269
Epoch 51/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7427 - val_loss: 0.5597 - val_accuracy: 0.7265
Epoch 52/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5320 - accuracy: 0.7423 - val_loss: 0.5592 - val_accuracy: 0.7256
Epoch 53/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5319 - accuracy: 0.7434 - val_loss: 0.5608 - val_accuracy: 0.7277
Epoch 54/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5317 - accuracy: 0.7419 - val_loss: 0.5650 - val_accuracy: 0.7248
Epoch 55/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5313 - accuracy: 0.7437 - val_loss: 0.5638 - val_accuracy: 0.7234
Epoch 56/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5317 - accuracy: 0.7431 - val_loss: 0.5611 - val_accuracy: 0.7244
Epoch 57/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5314 - accuracy: 0.7432 - val_loss: 0.5646 - val_accuracy: 0.7246
Epoch 58/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5312 - accuracy: 0.7436 - val_loss: 0.5649 - val_accuracy: 0.7246
Epoch 59/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5311 - accuracy: 0.7429 - val_loss: 0.5617 - val_accuracy: 0.7232
Epoch 60/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5310 - accuracy: 0.7434 - val_loss: 0.5616 - val_accuracy: 0.7256
Epoch 61/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5308 - accuracy: 0.7437 - val_loss: 0.5646 - val_accuracy: 0.7250
Epoch 62/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5306 - accuracy: 0.7439 - val_loss: 0.5646 - val_accuracy: 0.7236
Epoch 63/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5307 - accuracy: 0.7430 - val_loss: 0.5629 - val_accuracy: 0.7267
Epoch 64/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5306 - accuracy: 0.7434 - val_loss: 0.5633 - val_accuracy: 0.7232
Epoch 65/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5304 - accuracy: 0.7444 - val_loss: 0.5650 - val_accuracy: 0.7250
Epoch 66/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5302 - accuracy: 0.7427 - val_loss: 0.5621 - val_accuracy: 0.7238
Epoch 67/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5303 - accuracy: 0.7443 - val_loss: 0.5655 - val_accuracy: 0.7228
Epoch 68/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5300 - accuracy: 0.7433 - val_loss: 0.5649 - val_accuracy: 0.7259
Epoch 69/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5300 - accuracy: 0.7431 - val_loss: 0.5693 - val_accuracy: 0.7254
Epoch 70/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5305 - accuracy: 0.7430 - val_loss: 0.5634 - val_accuracy: 0.7236
Epoch 71/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5298 - accuracy: 0.7443 - val_loss: 0.5648 - val_accuracy: 0.7240
Epoch 72/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5296 - accuracy: 0.7435 - val_loss: 0.5640 - val_accuracy: 0.7221
Epoch 73/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5292 - accuracy: 0.7434 - val_loss: 0.5681 - val_accuracy: 0.7256
Epoch 74/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5295 - accuracy: 0.7439 - val_loss: 0.5681 - val_accuracy: 0.7256
Epoch 75/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5297 - accuracy: 0.7439 - val_loss: 0.5632 - val_accuracy: 0.7244
Epoch 76/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5293 - accuracy: 0.7428 - val_loss: 0.5710 - val_accuracy: 0.7223
Epoch 77/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5297 - accuracy: 0.7438 - val_loss: 0.5621 - val_accuracy: 0.7277
Epoch 78/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5290 - accuracy: 0.7435 - val_loss: 0.5642 - val_accuracy: 0.7250
Epoch 79/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5290 - accuracy: 0.7437 - val_loss: 0.5650 - val_accuracy: 0.7238
Epoch 80/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5288 - accuracy: 0.7435 - val_loss: 0.5661 - val_accuracy: 0.7267
Epoch 81/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5289 - accuracy: 0.7440 - val_loss: 0.5661 - val_accuracy: 0.7248
Epoch 82/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5287 - accuracy: 0.7448 - val_loss: 0.5672 - val_accuracy: 0.7248
Epoch 83/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5279 - accuracy: 0.7444 - val_loss: 0.5696 - val_accuracy: 0.7271
Epoch 84/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5292 - accuracy: 0.7442 - val_loss: 0.5679 - val_accuracy: 0.7258
Epoch 85/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5281 - accuracy: 0.7427 - val_loss: 0.5674 - val_accuracy: 0.7244
Epoch 86/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5283 - accuracy: 0.7430 - val_loss: 0.5687 - val_accuracy: 0.7252
Epoch 87/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5288 - accuracy: 0.7431 - val_loss: 0.5651 - val_accuracy: 0.7246
Epoch 88/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5280 - accuracy: 0.7450 - val_loss: 0.5658 - val_accuracy: 0.7244
Epoch 89/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5281 - accuracy: 0.7444 - val_loss: 0.5673 - val_accuracy: 0.7234
Epoch 90/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5287 - accuracy: 0.7445 - val_loss: 0.5666 - val_accuracy: 0.7240
Epoch 91/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5289 - accuracy: 0.7451 - val_loss: 0.5639 - val_accuracy: 0.7234
Epoch 92/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5281 - accuracy: 0.7437 - val_loss: 0.5681 - val_accuracy: 0.7267
Epoch 93/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5283 - accuracy: 0.7436 - val_loss: 0.5663 - val_accuracy: 0.7232
Epoch 94/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5277 - accuracy: 0.7447 - val_loss: 0.5666 - val_accuracy: 0.7252
Epoch 95/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5277 - accuracy: 0.7451 - val_loss: 0.5712 - val_accuracy: 0.7258
Epoch 96/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5282 - accuracy: 0.7451 - val_loss: 0.5706 - val_accuracy: 0.7269
Epoch 97/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5276 - accuracy: 0.7436 - val_loss: 0.5701 - val_accuracy: 0.7252
Epoch 98/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5278 - accuracy: 0.7452 - val_loss: 0.5682 - val_accuracy: 0.7242
Epoch 99/100
644/644 [==============================] - 3s 4ms/step - loss: 0.5279 - accuracy: 0.7440 - val_loss: 0.5712 - val_accuracy: 0.7261
Epoch 100/100
644/644 [==============================] - 2s 4ms/step - loss: 0.5282 - accuracy: 0.7437 - val_loss: 0.5702 - val_accuracy: 0.7254

In [106]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5729 - accuracy: 0.7257 - 653ms/epoch - 2ms/step
Loss: 0.5728648900985718, Accuracy: 0.7257142663002014

In [107]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')